<h1>E-commerce</h1>
 <!-- <app-home></app-home>
 <app-todo></app-todo> -->
 <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/todo" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">ToDo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/addProduct" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Add Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/contact" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/eletro" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Electro</a>
  </li>
</ul>

<router-outlet></router-outlet>
  <footer>4SAE2</footer>