<h2> Product List </h2>
<button (click)="calcul()" class="btn btn-dark">Calcul</button> <p> Quantity = 0 : </p> <h3>{{n}}</h3> 

<form>
    <input type="number" name="nbMax" class="form-control" [(ngModel)]="nbMax">
</form>
{{nbMax}}
<div class="row">
    <div class="col-md-4" *ngFor="let product of ProductList ; let i = index">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{image}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Title : {{product.title}}</h5>
              <p class="card-text">Quantity : {{product.quantity}}</p>
              <p class="card-text">Price : {{product.price}}</p>
                <button class="btn btn-primary" (click)="likeProduct(product)">
                    Like {{product.like}}
                </button>
                <button  [disabled]="product.quantity == 0" class="btn btn-danger" (click)="buyProduct(i)"> Buy</button>
              <a routerLink="{{product.id}}">Detail</a>
            </div>
          </div>
          </div>
</div>

<!-- 
<table class="table">
<thead>
    <th>Id</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Like</th>
</thead>
<tbody *ngFor="let product of ProductList ; let i = index">
    <tr  *ngIf="product.price <= nbMax || nbMax == null"  >
        <td> {{product.id}} </td>
        <td> {{product.title}}</td>
        <td> {{product.quantity}}</td>
        <td> {{product.price}} </td>
        <td>
            <button class="btn btn-primary" (click)="likeProduct(product)">
                Like {{product.like}}
            </button>
        </td>
        <td>
            <button  [disabled]="product.quantity == 0" class="btn btn-danger" (click)="buyProduct(i)"> Buy</button>
        </td>
    </tr>
</tbody>
</table> -->
